* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
}
.logo {
    position: absolute;
    left: 40px;
    top: 40px;
}

/* ######################################## FORM ################################################ */

.boxForm {
    height: 100vh;
    width: 50%;
    display: grid;
    place-items: center;
    color: #afb6c2;

    background-color: #000000;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.backForm {
    background-color: #24221f;
    width: 572px;
    height: 512px;
    border-radius: 4px;
    display: grid;
    place-items: center;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    width: 335px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

h1 {
    color: #d4ccb6;
}

.input-containerOne,
.input-containerTwo {
    position: relative;
    width: 335px;
    height: 44px;
    display: flex;
    align-items: center;
}
.input-containerOne {
    margin-bottom: 20px;
}

.input-containerOne input,
.input-containerTwo input {
    width: 100%;
    padding: 10px 10px 10px 30px;
    box-sizing: border-box;
    background-color: #24221f;
    border: solid 1px #868686;
    border-radius: 4px;
}

.input-containerOne input:hover {
    border-color: #ffc632;
}

.input-containerTwo input:hover {
    border-color: #ffc632;
}

.input-containerOne::before {
    content: url(icon/mail.png);
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.input-containerTwo::before {
    content: url(icon/lock.png);
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.checkbox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.check {
    display: flex;
    align-items: center;
    gap: 5px;
}

.checkbox input {
    width: 20px;
    height: 20px;
}

a {
    color: #ffc632;
    text-decoration: none;
    font-size: 14px;
}

.boxButton {
    width: 334px;
    background-color: #ffc632;
    color: #000000;
    height: 51px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    border: none;
    border-radius: 4px;
}

/* ######################################## IMG ################################################ */

.boxImg {
    background-color: bisque;
    height: 100vh;
    width: 50%;
    background: url(img/side-image.jpg) no-repeat center center;
    background-size: cover;
}

@media (max-width: 980px) {
    .boxImg {
        display: none;
    }
    .boxForm {
        width: 100%;
        font-size: 13px;
    }
    .backForm {
        width: 300px;
    }
    form {
        width: 300px;
    }
    .input-containerOne,
    .input-containerTwo {
        width: 250px;
    }
    .checkbox input {
        width: 18px;
        height: 18px;
    }
    .checkbox {
        width: 270px;
    }
    .boxButton {
        width: 200px;
    }
}
